<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no" />
  <title>wei587</title>

</head>
<body>
<!--<img src="http://localhost:9004/app-wechat-msg/api/wxs/wechat/app/qrcode?width=200&path=pages/buy/buy?view=1"/>-->
<!--<form method="post" enctype="multipart/form-data" action="/api/office/fileupload">-->
  <!--<input type="file" id = "officeFile" name="file" multiple='mutiple'>-->
  <!--<input type="submit" id="officeFileUpload">-->
<!--</form>-->
<object type="application/x-shockwave-flash" id="LiveClient" name="LiveClient" align="middle" data="//cache.ohwit.com/flash/LCSCLoader_20150730a.swf" width="100%" height="100%">
  <param name="quality" value="high">
  <param name="bgcolor" value="0x000000">
  <param name="allowscriptaccess" value="always">
  <param name="allowfullscreen" value="true">
  <param name="allowFullScreenInteractive" value="true">
  <param name="wmode" value="transparent">
  <param name="flashvars" value="customer=wkt_56e6749895017722410043e2&amp;customerType=yunxiaoxin&amp;liveClassroomId=58a94a94b7090a6b0c00010a&amp;loginType=undefined&amp;sp=0&amp;exStr=&amp;p=0dc509c77d0884a64e5cf7fa85b313f3|1487490007000|18501178507|%E5%BC%A0%E5%B8%86|1&amp;resDownRootPath=//cache.ohwit.com&amp;x=&amp;sserver=s.ohwit.com&amp;sport=80&amp;lserver=120.26.65.232&amp;lport=8114&amp;rate=&amp;clientswf=//cache.ohwit.com/flash/LCSCLoader_20150730a.swf&amp;swfcfg=//cache.ohwit.com/flash/weiketang/weiketang_cfg.xml?v=1487490012954&amp;pushRtmpUrl=rtmp://121.40.29.152:1935/live/&amp;playRtmpUrl=rtmp://220.181.105.204:1935/wktlive">
</object>
<script type="text/javascript" src="http://ss.yunxiaoxin.com/Public/common/js/layer/layer.min.js"></script>
<script type="text/javascript" src="http://ss.yunxiaoxin.com/Public/parent/js/owl/owl.carousel.min.js"></script>
</body>
</html>


